html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================================*/
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);

body {
    font-family: 'Russo One', sans-serif;
    background-image: url("/media/img/torg.png");
    letter-spacing: 1px;
    background-size:cover;
    background-attachment: fixed;
    z-index:-10;
    line-height: 25px;
    color: white;
    margin: 1% 10% 1% 10%;
}




.menu {
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu div {
    display: flex;
    margin: auto auto;
    padding: 20px;
    padding: 20px;
    min-height: 179.25px;
    min-width: 138.75px;
}
.menu div img{

    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 179.25px;
    min-width: 138.75px;
}

.menu p{
    position: absolute;
    margin-left: 1em;
    padding: 5px;
}
.ong_tour{
    color: #4d8437;
}

.pen_tour{
    color: #d28437;
}

.fin_tour{
    color: #4d84b2;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-auround
}


.header div.logo {
    text-align: center;
    width: 100%;
}

.logo img {
    width: 380px;
}

.all_cups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-flow: row-wrap;
    margin: auto auto;
}

.all_cups div{
    margin: 20px;
    padding: 20px;
    height: 220px;
    width: 320px;
    background-image: url("/media/img/bg_cups.png");
    background-size: cover;
    opacity: 0.4;
    text-align: center;
}

.all_cups div p{
    margin: auto auto;
}


input[type="text"],input[type="number"],input[type="file"],input[type="password"], input[type="email"],select {
  background-color :#2b2b2b;
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  width: 400px;
    text-align: center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 20px;
    vertical-align:top;
    border:2px solid black;
    height:27px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    line-height: 80%;
    color: white;
}

input[type="number"] {
    width: 150px;
}

textarea {
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1px;
  background-color :#2b2b2b;
  font-size: 16px;
  width: 500px;
  height: 200px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 20px;
    vertical-align:top;
    border:2px solid black;
    height:27px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.input #id_name {

    color: white;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
}

#id_name, #id_description, #id_first_name{

    color: white;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
}

textarea {
  width: 500px;
  height: 200px;
  resize: none;
  line-height: 2em;
}

.forms {
    text-align: center;
}

.forms p{
    padding: 10px;
}


ul li{
  display: inline;
  padding: 8px;
}


.bg_waiting, .bg_ongoing, .bg_finished, .bg_create {
   z-index: -10;
   position: fixed;
   opacity: 0.6;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   min-width: 1000px;

}

.cointainer_player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row-wrap;
    margin: auto auto;
}

.player {
    display: flex;
    flex-flow: row-wrap;
    width: 370px;
    padding: 5px;
    min-width: 350px;
}

.name {
    padding: 2px 0 0 0;
    width: 270px;
    font-size: 20px;
    text-align: center;
    background-color : #1c1c1c;
}

.number {
    padding: 2px 0 0 0;
    width: 50px;
    background-color :black;
    color: #d41737;
    text-align: center;
}

.del {
     width: 50px;
     display:flex;
     justify-content: center;
     background-color :black;
     padding: 0 0 3px 0;
}
.cup_description, .num_ply,  .date {
    font-size: 20px;
    padding: 5px;
}

.add_player {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.add_player label {
    display: flex;
    justify-content: center;
    text-align: right;
}
div .mess{
    display: flex;
    justify-content: center;
    text-align: left;
}
.player_forms {
    padding: 0 0 0 20px;
    color: white;
}

.cup_name {
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 0 20px 0;
    font-weight: bold;
}

.cup_name a{
    color: #d41737;
}


h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

.title{
       font-size: 42px;
}

.players {
    text-align: center;
    font-size: 26px;
    padding: 20px;
}

.desc {
    text-align: center;
    font-size: 26px;
    padding: 50px 0 20px 0;
}

.desc_2 {
    text-align: center;
    font-size: 16px;
    padding: 0 0 20px 0;
}

.mess {
    color: #D64137
}

.cup_info {
    text-align: center;
}

.input_submit input[type=submit] {
    background: url("/media/img/yes.png");
    border: 0;
    display: block;
    height: 91px;
    width: 162px;
}

.input_save input[type=submit] {
    background: url("/media/img/save_score.png");
    border: 0;
    display: block;
    height: 91px;
    width: 269px;
    margin: auto auto;
}

h2{
    text-align: center;
}

.change_pass {
    text-align: center;
    padding: 20px;

}

div .yes_no {
    display: flex;
    justify-content: center;
}

.yes, .no {
    padding: 20px;
}

.other_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.save_changes {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.ul_li ul li {
    display: block;
}

a {
     color: #d41737;
}

.pair {
    font-size: 26px;
    text-align: center;
}

.input_load input[type=submit] {
    background: url("/media/img/load_link.png");
    border: 0;
    display: block;
    height: 91px;
    width: 269px;
    margin: auto auto;
}


.input_relation input[type=submit] {
    background: url("/media/img/save_relation.png");
    border: 0;
    display: block;
    height: 91px;
    width: 280px;
    margin: auto auto;
}


.pairs {
    padding: 10px;
    display: flex;
    font-size: 26px;
}

.scores {
    padding: 10px;
    display: flex;
    font-size: 26px;
}

.ply_1 {

    width: 45%;
    text-align: right;
}
.ply_2 {

    width: 45%;
    text-align: left;
}

.sep {

    width: 10%;
    text-align: center;
}

.photovideo {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.dashboard {
    position: fixed;
    left: 0;
    top: 5%;
    width: 8em;
    margin-top: 0em;
}

.user {
    position: fixed;
    right: 0;
    top: 5%;
    width: 8em;
    margin-right: 0em;
    text-align: right;
}

.profile {
    position: fixed;
    right: 0;
    top: 25%;
    width: 8em;
    margin-right: 0em;
    text-align: right;
}

.small_create {
    position: fixed;
    left: 0;
    top: 25%;
    width: 8em;
    margin-top: 0em;
}

.small_pending {
    position: fixed;
    left: 0;
    top: 45%;
    width: 8em;
    margin-top: 0em;
}

.small_ongoing {
    position: fixed;
    left: 0;
    top: 65%;
    width: 8em;
    margin-top: 0em;
}

.small_finished {
    position: fixed;
    left: 0;
    top: 85%;
    width: 8em;
    margin-top: 0em;
}


/*==================DRZEWKO===================*/
.tree {
    display: flex;
    align-items: strech;
}

.tree div {
    padding: 5px;

}

.szesc div{
    border: 1px solid;


}

.osma div{
    border: 1px solid;
    height: 172px;


}

.czwarta div{


}

.polfinal div{
    border: 1px solid;

}



