{% extends 'base.html' %}

{% block title %}Zakończone turnieje{% endblock %}

{% block content %}
    <h1>Lista zakończonych turniejów</h1>
    <div class="bg_finished_container">
        <img class="bg_finished" src="/media/img/bg_finished.png">
    </div>
    <div class="all_cups">
        {% for tournament in tournaments %}
            <div class="cup">
                <p class="cup_name"><a href="{{ tournament.get_absolute_url }}"> {{ tournament.name }}</a></p>
                <p class="num_ply">Liczba graczy: {{ tournament.num_of_players }}</p>
                <p class="cup_description">Opis: {{ tournament.description|truncatechars:50 }}</p>
                <p class="date">Zakończono: {{ tournament.end_date }}</p>
            </div>


        {% endfor %}
    </div>
    {% if not tournaments %}
        <p>BRAK ZAKOŃCZONYCH TURNIEJÓW</p>
    {% endif %}
{% endblock %}
