{% extends 'base.html' %}

{% block title %} DETALE {% endblock %}

{% block content %}

    <h1> {{ phase }} </h1>
    <p> {{ match.player_team_1 }} VS. {{ match.player_team_2 }} </p>
    {% if match.score_1 != match.score_2 and match.score_1 >= 0 and match.score_2 >= 0 %}
        <p> {{ match.score_1 }} : {{ match.score_2 }}</p>
    {% else %}
        <p> - : - </p>
    {% endif %}

    {% if match.score_1 != match.score_2 and match.score_1 >= 0 and match.score_2 >= 0 %}
        <p></p>
    {% else %}
            <form action="." method="POST">
                {{ score_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Zapisz wynik">
                {{ message }}
            </form>
    {% endif %}
    <p><a href="{{ match.tournament.get_absolute_url }}">Wróć</a></p>


{% endblock %}