{% extends 'base.html' %}

{% block title %} DETALE {% endblock %}

{% block content %}

    <h1> {{ phase }} </h1>
    <p> {{ match.player_team_1 }} VS. {{ match.player_team_2 }} </p>
    {% if match.score_1 != match.score_2 and match.score_1 >= 0 and match.score_2 >= 0 %}
        <p> {{ match.score_1 }} : {{ match.score_2 }}</p>
    {% else %}
        <p> - : - </p>
    {% endif %}

    {% if match.score_1 != match.score_2 and match.score_1 >= 0 and match.score_2 >= 0 %}
        <p></p>
    {% else %}
            <form action="." method="POST">
                {{ score_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" name="save" value="Zapisz wynik">
                {{ message }}
            </form>
    {% endif %}
       <form action="." method="POST">
            {{ desc_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" name="desc" value="Zapisz opis">
       </form>

       <form action="." method="POST">
            {{ video_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" name="video" value="Załaduj link">
       </form>
    <p><a href="{{ match.tournament.get_absolute_url }}">Wróć</a></p>
    {% if match.youtube %}
       <p>FILM Z MECZU</p>
       <div class="photovideo">
            <iframe class="fotovideo" width="560" height="350" src="{{match.youtube}}" frameborder="1" allow="autoplay; encrypted-media"
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen"
            msallowfullscreen="msallowfullscreen"
            oallowfullscreen="oallowfullscreen"
            webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
    {% endif %}
    {% if match.description %}
        <p>OPIS MECZU</p>
        <p>{{ match.description|linebreaks }}</p>
    {% endif %}

{% endblock %}