{% extends 'base.html' %}

{% block title %} DETALE {% endblock %}

{% block content %}

    <h1> {{ tournament.name }} </h1>
    {% if tournament.tournament_status == "ongoing" %}
        <p> Data utworzenia turnieju: {{ tournament.created }}</p>
    {% else %}
        <p> Data zakończenia turnieju: {{ tournament.end_date }}</p>
    {% endif %}
    <p> Opis turnieju: {{ tournament.description }}</p>
    <p> Gracze:</p>
    {% for player in players %}
        <p>{{ player.name }}</p>
    {% endfor %}
    <hr><hr>
    <form action="delete/" method="POST">
        {% csrf_token %}
       <p><input type="submit" value="USUŃ TURNIEJ">
    </form>
    {% if tournament.tournament_status == "ongoing" %}
        <form action="complete/" method="POST">
            {% csrf_token %}
           <p><input type="submit" value="ZAKOŃCZ TURNIEJ">
        </form>
    {% endif %}

{% endblock %}