{% extends 'base.html' %}

{% block title %} DETALE {% endblock %}

{% block content %}

    <h1> {{ tournament.name }} </h1>
    {% if tournament.tournament_status == "complete" %}
        <h2>ZWYCIĘZCĄ TURNIEJU JEST: {{ winner }}</h2>
    {% endif %}
    {% if tournament.tournament_status == "ongoing" %}
        <p> Data rozpoczęcia turnieju: {{ tournament.start_date }}</p>
    {% elif tournament.tournament_status == "complete" %}
        <p> Data zakończenia turnieju: {{ tournament.end_date }}</p>
    {% elif tournament.tournament_status == "waiting" %}
        <p> Data dodania turnieju: {{ tournament.created }}</p>
    {% endif %}
    <p> Status turnieju: {% if tournament.tournament_status == "waiting" %} Nierozpoczęty</p>
                        <p> {% elif tournament.tournament_status == "complete" %} Zakończony</p>
                        <p> {% else %} Trwa </p>
{% endif %}
    <p> Opis turnieju: {{ tournament.description|linebreaks }}</p>
    {% if not players %}
        <p> Gracze: Brak</p>
    {% else %}
        <p> Gracze: </p>
    {% endif %}
    <div class="cointainer_player">
        {% for player in players %}
            <div class="player">
                <div class="number">{{forloop.counter}}</div><div class="name"> {{ player.name }}</div>
                {% if tournament.tournament_status == "waiting" and user.is_authenticated %}
                    <div class="del"><form  method="POST">
                        <button name="delete_items" type="submit" value="{{ player.pk }}">X</button>
                        {% csrf_token %}
                    </form></div>
                {% endif %}
            </div>

        {% endfor %}
    </div>
    <hr>
    {% for match in match_detail %}
            {% if not match.player_team_1 or not match.player_team_2 %}
                <p>Nazwa meczu: {{match.phase}} </p>

            {% else %}
                <p>Faza turnieju:<a href="{{ match.get_absolute_url }}"> {{match.phase}}</a></p>
            {% endif %}
            {% if match.score_1 != none and match.score_2 != none %}
                <p> Gracz/Drużyna nr 1: {{ match.player_team_1 }}, Punkty: {{ match.score_1 }} </p>
                <p> Gracz/Drużyna nr 2: {{ match.player_team_2 }}, Punkty: {{ match.score_2 }} </p>
            {% else %}
                <p> Gracz/Drużyna nr 1: {{ match.player_team_1 }}, Punkty: -</p>
                <p> Gracz/Drużyna nr 2: {{ match.player_team_2 }}, Punkty: -</p>
            {% endif %}
    {% endfor %}
    <div class="add_buttons">
        {% if tournament.num_of_players > players|length and tournament.tournament_status == "waiting" and user.is_authenticated %}
            <form action="." method="POST">
                 {{ player_team_form.as_p }}
                 {% csrf_token %}
                <input class="save" type="image" name="submit" src="/media/img/add.png"  alt="Submit" />
                {{ message }}
            </form>
        {% endif %}
    </div>
    <div class="other_buttons">
        {% if tournament.tournament_status == "waiting" and tournament.num_of_players == players|length and user.is_authenticated %}
            <form action="start/" method="POST">
                {% csrf_token %}
                <input class="save" type="image" name="submit" src="/media/img/start.png"  alt="Submit" />
            </form>
        {% endif %}
        {% if tournament.tournament_status == "ongoing" and user.is_authenticated %}
            <form action="complete/" method="POST">
                {% csrf_token %}
               <input class="save" type="image" name="submit" src="/media/img/stop.png"  alt="Submit" />
            </form>
        {% endif %}
        {% if tournament.tournament_status == "waiting" and user.is_authenticated %}
            <form action="edit/" method="POST">
                {% csrf_token %}
                <input class="save" type="image" name="submit" src="/media/img/edit.png"  alt="Submit" />
            </form>
        {% endif %}
        {% if user.is_authenticated %}
            <form action="delete/" method="POST">
                {% csrf_token %}
                <input class="save" type="image" name="submit" src="/media/img/delete.png"  alt="Submit" />
            </form>
        {% endif %}
    </div>
{% endblock %}