{% extends 'base.html' %}

{% block title %} DETALE {% endblock %}

{% block content %}

    <h1> {{ tournament.name }} </h1>
    {% if tournament.tournament_status == "complete" %}
        <h2>ZWYCIĘZCĄ TURNIEJU JEST: {{ winner }}</h2>
    {% endif %}
    {% if tournament.tournament_status == "ongoing" %}
        <p> Data rozpoczęcia turnieju: {{ tournament.start_date }}</p>
    {% elif tournament.tournament_status == "complete" %}
        <p> Data zakończenia turnieju: {{ tournament.end_date }}</p>
    {% elif tournament.tournament_status == "waiting" %}
        <p> Data dodania turnieju: {{ tournament.created }}</p>
    {% endif %}
    <p> Opis turnieju: {{ tournament.description }}</p>
    {% if not players %}
        <p> Gracze: Brak</p>
    {% else %}
        <p> Gracze: </p>
    {% endif %}
    {% for player in players %}
        <p>{{forloop.counter}}. {{ player.name }}</p>
        {% if tournament.tournament_status == "waiting" %}
            <form method="POST">
                <button name="delete_items" type="submit" value="{{ player.pk }}">USUŃ</button>
                {% csrf_token %}
            </form>
        {% endif %}
    {% endfor %}

    <hr>
    {% for match in match_detail %}
            {% if not match.player_team_1 or not match.player_team_2 %}
                <p>Nazwa meczu: {{match.phase}} </p>

            {% else %}
                <p>Faza turnieju:<a href="{{ match.get_absolute_url }}"> {{match.phase}}</a></p>
            {% endif %}
            {% if match.score_1 != none and match.score_2 != none %}
                <p> Gracz/Drużyna nr 1: {{ match.player_team_1 }}, Punkty: {{ match.score_1 }} </p>
                <p> Gracz/Drużyna nr 2: {{ match.player_team_2 }}, Punkty: {{ match.score_2 }} </p>
            {% else %}
                <p> Gracz/Drużyna nr 1: {{ match.player_team_1 }}, Punkty: -</p>
                <p> Gracz/Drużyna nr 2: {{ match.player_team_2 }}, Punkty: -</p>
            {% endif %}
    {% endfor %}
    {% if tournament.num_of_players > players|length and tournament.tournament_status == "waiting" %}
        <form action="." method="POST">
             {{ player_team_form.as_p }}
             {% csrf_token %}
            <p><input type="submit" value="DODAJ GRACZA / DRUŻYNĘ">
            {{ message }}
        </form>
    {% endif %}

    {% if tournament.tournament_status == "waiting" and tournament.num_of_players == players|length %}
        <form action="start/" method="POST">
            {% csrf_token %}
           <p><input type="submit" value="ROZPOCZNIJ TURNIEJ">
        </form>
    {% endif %}
    {% if tournament.tournament_status == "ongoing" %}
        <form action="complete/" method="POST">
            {% csrf_token %}
           <p><input type="submit" value="ZAKOŃCZ TURNIEJ">
        </form>
    {% endif %}
    {% if tournament.tournament_status == "waiting" %}
        <form action="edit/" method="POST">
            {% csrf_token %}
           <p><input type="submit" value="EDYTUJ TURNIEJ">
        </form>
    {% endif %}
    <form action="delete/" method="POST">
        {% csrf_token %}
       <p><input type="submit" value="USUŃ TURNIEJ">
    </form>

{% endblock %}